.postBtn {
    color: white;
    background-color: #1d9bf0;
    width: 250px;
    border-radius: 30px;
    border: 1px solid #1d9bf0;
    padding: 15px;
    font-size: larger;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    cursor: pointer;
}