.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
    color: white;
    height: 45px;
    font-size: large;
}