.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
    color: white;
    height: 45px;
    font-size: 20px;
    transition: background-color 0.3s ease, cursor 0.3s ease; 
    border-radius: 30px;
}

.container:hover {
    background-color: #181818;
}

@media (max-width: 1281px) {
    .container p {
        display: none;
    }
}