.postBtn {
    color: white;
    background-color: #1d9bf0;
    width: 200px;
    border-radius: 30px;
    border: 1px solid #1d9bf0;
    padding: 10px;
    font-size: larger;
    font-weight: 700;
    margin-top: 10px;
    float: left;
    cursor: pointer;
}

.postBtnLogo {
    display: none;
    color: white;
    background-color: #1d9bf0;
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}

@media (max-width: 1281px) {
    .postBtnLogo {
        display: flex;
    }

    .postBtn {
        display: none;
    }
}