.container {
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    transition: background-color 0.3s ease, cursor 0.3s ease; 
    padding: 0px 10px 0px 10px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.container:hover {
    background-color: #181818;
}

.profileImg {
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
}

.userInfo {
    line-height: 4px;
    cursor: pointer;
    text-align: left;
}

.userInfo p {
    font-size: 15px;
}

.userName {
    color: grey;
}

.infologo {
    margin-left: 10px;
    cursor: pointer;
    width: 24px;
}

@media (max-width: 1281px) {
    .userInfo,
    .infologo {
        display: none;
    }
}