.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: grey;
    line-height: 0px;
    padding: 10px;
}

.container p {
    font-size: 13px;
}

.container p:hover {
    cursor: pointer;
    text-decoration: underline;
}