.container {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    text-align: left;
    transition: background-color 0.3s ease, cursor 0.3s ease; 
}
.container:hover {
    cursor: pointer;
    background-color: #1d1f23;
}

.accountInfo {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.accountInfo img {
    width: 40px;
    border-radius: 100%;
}

.profileName {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    line-height: 1px;
}

.name:hover {
    text-decoration: underline;
}

.userName {
    color: grey;
    margin-top: 0px;
}