.container {
    position: absolute;
    background-color: #575757;
    top: 40px;
    left: 150px;
    width: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    z-index: 1000;
}

.container > span {
    border-bottom: 1px solid grey;
}

.colorOption {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 10px;
    line-height: 0;
    cursor: pointer;
    transition: background-color 0.3s ease, cursor 0.3s ease; 
}

.colorOption:hover {
    background-color: #262626;
}

.colorOption div {
    width: 20px;
    height: 20px;
    border-radius: 30px;
}