.container {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  height: 100vh;
  position: relative;
}

.leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 260px;
}

.centerPage {
  width: 600px;
  border-right: 1px solid #2f3336;
  border-left: 1px solid #2f3336;
  overflow-y: scroll;
}

.rightSide {
  width: 350px;
  padding: 10px 0px 10px 30px;
  overflow-y: scroll;
}

.centerPage::-webkit-scrollbar,
.rightSide::-webkit-scrollbar {
  width: 0rem;
}

.MobileView {
  display: none;
}

@media (max-width: 1281px) {
  .leftSide {
    width: 72px;
  }
}

@media (max-width: 1094px) {
  .rightSide {
      width: 288px;
  }
}

@media (max-width: 1004px) {
  .rightSide {
      display: none;
  }
}

@media (max-width: 499px) {
  .leftSide {
      display: none;
  }

  .MobileView {
    display: flex;
    width: 99%;
    padding: 10px;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0px;
    background-color: black;
  }
}

