.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
    color: white;
    height: 40px;
}