

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid grey;
}

.listsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}

.newCategoryBtn {
    background-color: #0088f0;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;

}

.newCategoryBtn:hover {
    background-color: #0077d4;
}

.newCategory {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: rgb(63, 63, 63);
    border-radius: 10px;
}

.newCategory > input {
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    color: white;
}