

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid grey;
}

.listsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}

.newCategoryBtn {
    background-color: #0088f0;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;

}

.newCategoryBtn:hover {
    background-color: #0077d4;
    font-weight: 700;
}